/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #8b0000;
  color: white;
  text-shadow: none;
}

::selection {
  background: #8b0000;
  color: white;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --primary: #8b0000;
}

/* default links */
a,
a:visited {
  transition: all 0.4s ease 0s;
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: none;
  color: #999;
  border-bottom: 1px solid transparent;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

* h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

* h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

* p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

* a {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

/* Global CSS Start */
/* .sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #101010;
  overflow-x: hidden;
  padding-top: 60px;
  border-right: 1px solid white;
}
.nav-btn {
  position: fixed;
  z-index: 9;
  top: 0;
  padding: 5px;
  margin: 1.25rem;
  border-radius: 5px;
  color: #8b0000;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  font-family: "FontAwesome";
}
.fa-home::before {
  padding-right: 10px;
}
.fa-user::before {
  padding-right: 10px;
}

.sidenav a:hover {
  color: white;
  background-color: #8b0000;
}
.sidenav a:visited {
  border-bottom: #101010;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .closebtn:hover {
  background-color: #10101000;
  border: #10101000;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */
.navbar-toggler {
  z-index: 10;
  background-color: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.navbar-toggler:focus {
  outline: none;
}
.nav-btn-container {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #8b0000;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.offcanvas-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  left: -250px;
  width: 250px;
  padding-top: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #101010;
  border-right: 1px solid white;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: left, visibility;
}

.offcanvas-collapse {
  align-items: start;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.offcanvas-collapse.open {
  left: 0;
  visibility: visible;
}

.navbar-expand-lg .navbar-nav {
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: white;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
ul.navbar-nav {
  width: 100%;
}
.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.nav-item:hover {
  color: white;
  background-color: #8b0000;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

footer {
  background-color: #101010;
}

footer p {
  margin: 0 auto;
}

/* Global CSS End */

/* Home Page Start */
body {
  background-color: #f8f8f8;
}
.synopsis-sec {
  padding: 1em;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.synopsis-sec h2 {
  margin-bottom: 1rem;
}

.tl-intro {
  background-color: #101010;
}
.tl-intro p {
  color: white;
  text-align: center;
  padding-top: 5rem;
}
.timeline {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.timeline-head {
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 2em;
  text-align: center;
}
.read-more {
  border: white 2px solid;
  border-radius: 50px;
  background: none;
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: center;
  width: 150px;
}

@media only screen and (min-device-width: 320px) {
  body {
    background-color: white;
  }

  .video-background-holder {
    position: relative;
    background-color: #101010;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .video-background-holder video {
    display: none;
  }
  .video-background-content {
    padding: 5px;
    margin: 0 auto;
  }
  .video-background-content p {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .header-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-imgs img {
    width: 90px;
    height: auto;
    margin-top: 0;
    margin: 1rem;
  }
}

@media only screen and (min-device-width: 768px) {
  body {
    background-color: white;
  }

  .video-background-holder {
    height: 100vh;
    min-height: 25rem;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }

  .video-background-holder video {
    display: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
  }

  .video-background-content {
    position: relative;
    z-index: 2;
  }
  .header-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #uconn-logo {
    width: 150px;
    height: auto;
  }

  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    opacity: 0.5;
    z-index: 1;
  }

  .header-btn {
    transition: all 0.4s ease 0s;
    margin: 0.5rem;
  }

  .header-btn:hover {
    color: white !important;
    text-decoration: none;
    background: #8b0000;
    border-color: #8b0000 !important;
    transition: all 0.4s ease 0s;
  }
}
@media only screen and (min-device-width: 1024px) {
  .header-imgs img {
    width: 150px;
    height: auto;
  }
  #uconn-logo {
    width: 170px;
    height: auto;
  }
  #syracuse-logo {
    width: 120px;
    height: auto;
  }
}

/* Home Page End */

/* About Page Starts */
.nav-link {
  font-size: 20px;
}
.about-main {
  background-color: #101010;
}
.about-section-1 {
  color: white;
  background-color: #101010;
}
.about-section-1 h1 {
  margin-bottom: 1rem;
}
.journalists {
  color: white;
}

.card {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  color: #101010;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.card-title {
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
}

.pfp {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 20px;
  object-fit: cover;
}
.card-desc {
  margin: 1rem;
}
.card {
  margin: 10px 10px;
}

input[type="checkbox"] {
  display: none;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}
.front h4 {
  text-decoration: underline #8b0000;
}
.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

input[type="checkbox"]:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}

@media only screen and (min-device-width: 320px) {
  .about-section-1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .about-section-1 p {
    text-align: left;
  }
  .bios {
    padding-top: 5rem;
    background: linear-gradient(-45deg, #8b0000, #570d0f, #1d1d1d, #101010);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  label {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
}

@media only screen and (min-device-width: 768px) {
  .about-section-1 {
    height: 100vh;
  }
  .about-section-1 p {
    text-align: center;
  }
}
@media only screen and (min-device-width: 1024px) {
}
/* About Page Ends */

/* News Room Start */

.news-header h1 {
  color: white;
}
.news-section-1 {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.news-card {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 5px;
  color: #101010;
}
.news-card img {
  filter: grayscale(100%);
}
.news-card-body {
  padding: 10px;
}
.news-card-title {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}
.ts-btn {
  color: #8b0000;
  border: 1px solid #8b0000;
  border-radius: 5px;
  background-color: white;
}
.news-btn {
  background-color: #8b0000;
  color: white;
}
.article-card {
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: white;
  color: #101010;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.article-card img {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  filter: grayscale(100%);
}
.article-card-img {
  object-fit: cover;
}
.article-card-body h5 {
  padding-left: 0px;
}
.modal-title {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}
.modal-dek {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.modal-authour {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-device-width: 320px) {
  .news-header {
    background-color: #101010;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (min-device-width: 768px) {
  .news-header {
    height: 50vh;
    min-height: 100px;
    background-image: url("../img/crowd-title.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-device-width: 1024px) {
}
/* News Room End */
